{% extends "common/base_blog.html" %}
{% load staticfiles %}
{% load i18n %}

{% block headcontent %}
	<meta charset="utf-8" />
	<title>william's blog| 云计算、大数据、java、Python</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="云计算,大数据,人工智能,虚拟化,java,python,ITIL,运维,ansible,openstack,docker,运维自动化,云数据中心" />
    <meta name="description" content="云计算,大数据,人工智能,虚拟化,java,python,ITIL,运维,ansible,openstack,docker" />
	<meta name="author" content="william" />
{% endblock %}

{% block maincontent %}
    <section class="content">
	
    	{% if latest_entry_list %}
    		{% for entry in latest_entry_list %}
    		
    	<article class="post">
            <div class="date-wrapper"> 
				<div class="date-value">{{ entry.publication_date.day }}</div>
                <div class="month-value">{{ entry.publication_date|date:"M"}}</div>
            </div>
        	<div class="header-wrapper">
                <h2 class="posttitle"><a href="{% url 'blog:single' entry.id %}">{{entry.title}}</a></h2>
                <div class="entry-utility">
                    <div class="user">Posted by <a href="#">william</a></div> <div class="tag">Tags: 
                    <a href="#">
                    {{entry.tags}}
                    </a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            {% if entry.head_image %}
            <div class="postimg">
                <img src="{{MEDIA_URL}}{{entry.head_image}}" alt="" />
            </div>
   			{% endif %}
            <div class="entry-content">
            	{{ entry.blog_abstract }}
				<a href="{% url 'blog:single' entry.id %}" class="more">{% trans 'more' %} &rarr;</a>
            </div>
           
            <div class="clear"></div>
        </article>
    		{% endfor %}
    	{% endif %}
    	
    	<div class="wp-pagenavi">
			<span class="step-links">
		    	<span class="pages">
					Page {{ latest_entry_list.number }} of {{ latest_entry_list.paginator.num_pages }}
				</span>

				{% if latest_entry_list.has_previous %}
					<a href="?page={{ latest_entry_list.previous_page_number }}">{% trans 'previous' %}</a>
				{% endif %}

				{% for pagenum in latest_entry_list.paginator.page_range %}
					{% if pagenum == latest_entry_list.number %}
						<span class="current"><span>{{ pagenum }}</span></span>
					{% else %}
						<a class="page" href="?page={{ pagenum }}">{{ pagenum }}</a>
						{% endif %}
				{% endfor %}

				{% if latest_entry_list.has_next %}
					<a href="?page={{ latest_entry_list.next_page_number }}">{% trans 'next' %}</a>
				{% endif %}
			</span>
		</div>
    </section>
{% endblock %}
 
