{% extends 'common/base.html' %}
{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
{% block head %}
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Contact me</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.useso.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/inner.css' %}" />    
    <link rel="stylesheet" href="{% static 'styles/color.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/flexslider.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/prettyPhoto.css' %}"  media="screen" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    
    
</head>

{% endblock %}


{% block content %}
        
        <!-- BEFORE CONTENT -->
        <div id="outerbeforecontent">
        	<div class="container">
            <div class="row">
                <div id="beforecontent" class="twelve columns">
                
                    <h1 class="pagetitle">{% trans 'Contact us' %}</h1>
                    <span class="pagedesc">{% trans 'Contact us abstract' %}</span>
                    
                    <a href="#" class="button">{% trans 'Contact us' %}</a>
                    
                </div>
            </div>
            </div>
        </div>
        <!-- END BEFORE CONTENT -->


        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
           
                    <section id="maincontent" class="eight columns positionleft">
                    	<div class="padcontent">

                            <section class="content">
                            
                            	<h2>{% trans 'Keep in Touch with me' %} </h2>
                            	<p>QQ: 59170121</p>
                            	<p>wechat: yourwilliam</p>
                            	<p>twitter: william valentine</p>
                            	<p>email: yourwilliam@gmail.com</p>
                            	<p>github: <a href="https://github.com/yourwilliam/">https://github.com/yourwilliam/</a></p>
                            	
                                
                                <div class="separator"></div>
                                
                                <h3>{% trans 'Send me a Message' %}</h3>
                                <p>{% trans 'welcome message' %}</p>
                            
                                <div id="contactform">
                                <form id="contact" action="{% url 'blog:sendmail' %}" method="post">
                                  <fieldset>
                                  	 {% csrf_token %}
                                      <span class="error" id="name_error">Please enter name !</span>
                                      <span class="error" id="email_error">Please enter email address !</span>
                                      <span class="error" id="email_error2">Please enter valid email address !</span>
                                      <span class="error" id="msg_error">Please enter message !</span>
                                      <label for="name" id="name_label">Name (required)</label>
                                      <input type="text" name="name" id="name" size="50" value="" class="text-input" />
                                      <label for="email" id="email_label">Email (required)</label>
                                      <input type="text" name="email" id="email" size="50" value="" class="text-input" />
                                      <label for="subject" id="subject_label">Subject</label>
                                      <input type="text" name="subject" id="subject" size="50"  value="" class="text-input" />
                                      <label for="msg" id="msg_label">Message</label>
                                      <textarea rows="10" name="msg" id="msg" class="text-input"></textarea>
                                      <br />
                                      <input type="submit" name="submit" class="button" id="submit_btn" value="Send Message"/>
                                  </fieldset>
                                </form>
                                <div class="clear"></div>
                                </div><!-- end contactform -->
                         
                                <div class="separator"></div>
                                
                                <h3>Find me</h3>
                                
                                
                            </section>
                         
                        </div>
                    </section>
                    
                   {% block sidebar %}
                    <aside id="sidebar" class="four columns">
                    	<div class="padsidebar">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">{% trans 'Search' %}</h2>
                                <form action="#" id="searchform" method="get">
                                    <div class="bgsearch">
                                    <input type="text" value="" id="s" name="s"> 
                                    <input type="submit" value="" class="searchbutton">
                                    </div>
                                </form>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">{% trans 'Categories' %}</h2>
                                <ul>
                                {% for category in catagory_list %}
                                	<li><a href="{% url 'blog:category' category.id %}">{{ category.title }}({{ category.entrynum }})</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">{% trans 'Latest Post' %}</h2>
                                <ul class="rp-widget">
                                	{% for post in latest_post %}
                                		<li>
		                                    <div class="postimg"><img src="{% static 'images/content/lp1.gif' %}" alt="" /></div>
		                                    <h3><a href="{% url 'blog:single' post.id %}">{{ post.title }}</a></h3>
		                                    <span class="smalldate">{{ post.publication_date }}</span>
		                                    <span class="clear"></span>
                                    </li>
                                	{% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <div id="tagsList">
                        <h2 class="widget-title">{% trans 'Tag list' %}</h2>
                        {% for tag in tag_list %}
                        	<span><a href="{% url 'blog:tags' tag.id %}">{{ tag.name }}</a></span>
                        {% endfor %}
						</div>
	                  </div>
                    </aside>
               		{% endblock %}  
                 
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
{% endblock %}        

{% block javascript %}
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="{% static 'js/hoverIntent.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/superfish.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/supersubs.js' %}"></script>


<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="{% static 'js/tinynav.min.js' %}"></script>

<!-- Custom Script -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

<!-- Form Contact Script -->
<script type="text/javascript" src="{% static 'js/contact.js' %}"></script>

<!-- Custom Script -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tagcloud.js' %}"></script>


{% endblock %}
