<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Amazing</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.useso.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/inner.css" />    
    <link rel="stylesheet" href="styles/color.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/flexslider.css" />
    <link rel="stylesheet" href="styles/prettyPhoto.css"  media="screen" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" />

    
    
</head>


<body>

<div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader">
            <header id="top">

                    <div id="logo">
                        <a href="index.html"><img src="images/logo.png" alt=""/></a>
                    </div>

                    <section id="navigation">
                        <nav id="nav-wrap">
                            <ul id="topnav" class="sf-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a>
                                    <ul>
                                        <li><a href="element.html">Elements</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul>
                                                <li><a href="#">Only</a></li>
                                                <li><a href="#">Example of</a></li>
                                                <li><a href="#">The Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="service.html">Services</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li class="current"><a href="contact.html">Contact</a></li>
                                
                            </ul><!-- topnav -->
                           
                            <div class="clear"></div>
                        </nav><!-- nav -->	
                    </section>
            
                <div class="clear"></div>
            </header>
        </div>
        <!-- END HEADER -->
        
        <!-- BEFORE CONTENT -->
        <div id="outerbeforecontent">
        	<div class="container">
            <div class="row">
                <div id="beforecontent" class="twelve columns">
                
                    <h1 class="pagetitle">Contact us</h1>
                    <span class="pagedesc">This can be your tagline or something you want.</span>
                    
                    <a href="#" class="button">Buy Theme</a>
                    
                </div>
            </div>
            </div>
        </div>
        <!-- END BEFORE CONTENT -->


        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
           
                    <section id="maincontent" class="eight columns positionleft">
                    	<div class="padcontent">

                            <section class="content">
                            
                            	<h2>Keep in Touch with Us</h2>
                            	<p>Nulla condimentum magna nec lectus suscipit euismod. Donec eu purus nec nulla suscipit gravida eu et lacus. Cras a vulputate nibh. Sed tortor urna, rhoncus sit amet vestibulum id, condimentum eu mi. Donec quis malesuada lorem.</p>
                                
                                <div class="separator"></div>
                                
                                <h3>Send Us a Message</h3>
                                <p>Etiam molestie molestie lorem, in aliquet ligula aliquet laoreet. Cras vehicula vulputate nibh, vitae egestas nibh egestas vitae. Proin ultrices, libero non vulputate ultricies, dolor est fermentum nulla, sagittis sagittis justo sapien et lectus.</p>
                            
                                <div id="contactform">
                                <form id="contact" action="#">
                                  <fieldset>
                                      <span class="error" id="name_error">Please enter name !</span>
                                      <span class="error" id="email_error">Please enter email address !</span>
                                      <span class="error" id="email_error2">Please enter valid email address !</span>
                                      <span class="error" id="msg_error">Please enter message !</span>
                                      <label for="name" id="name_label">Name (required)</label>
                                      <input type="text" name="name" id="name" size="50" value="" class="text-input" />
                                      <label for="email" id="email_label">Email (required)</label>
                                      <input type="text" name="email" id="email" size="50" value="" class="text-input" />
                                      <label for="subject" id="subject_label">Subject</label>
                                      <input type="text" name="subject" id="subject" size="50"  value="" class="text-input" />
                                      <label for="msg" id="msg_label">Message</label>
                                      <textarea rows="10" name="msg" id="msg" class="text-input"></textarea>
                                      <br />
                                      <input type="submit" name="submit" class="button" id="submit_btn" value="Send Message"/>
                                  </fieldset>
                                </form>
                                <div class="clear"></div>
                                </div><!-- end contactform -->
                         
                                <div class="separator"></div>
                                
                                <h3>Find Us</h3>
                       <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Jalan+Kemanggisan+Utama,+Jakarta,+Indonesia&amp;sll=37.0625,-95.677068&amp;sspn=46.092115,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Jalan+Kemanggisan+Utama,+Jakarta+Barat,+Jakarta,+Indonesia&amp;ll=-6.189793,106.7908&amp;spn=0.016639,0.034246&amp;z=14&amp;iwloc=A&amp;output=embed" style="width:100%; height:249px;  margin:0 0 0px 0" class="frame"></iframe>
                                
                            </section>
                         
                        </div>
                    </section>
                    
                    <aside id="sidebar" class="four columns">
                    	<div class="padsidebar">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Search</h2>
                                <form action="#" id="searchform" method="get">
                                    <div class="bgsearch">
                                    <input type="text" value="" id="s" name="s"> 
                                    <input type="submit" value="" class="searchbutton">
                                    </div>
                                </form>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Categories</h2>
                                <ul>
                                    <li><a href="#">Company News</a></li>
                                    <li><a href="#">Website Design &amp; Development</a></li>
                                    <li><a href="#">Learning jQuery</a></li>
                                    <li><a href="#">Photography Design</a></li>
                                    <li><a href="#">Wordpress</a></li>
                                    <li><a href="#">Typography</a></li>
                                    <li><a href="#">Columns</a></li>
                                    <li><a href="#">Buttons</a></li>
                                    <li><a href="#">Video Player</a></li>
                                </ul>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Latest Post</h2>
                                <ul class="rp-widget">
                                    <li>
                                        <div class="postimg"><img src="images/content/lp1.gif" alt="" /></div>
                                        <h3><a href="#">Sed at urna sed libero.</a></h3>
                                        <span class="smalldate">April 27, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                    <li>
                                        <div class="postimg"><img src="images/content/lp2.gif" alt="" /></div>
                                        <h3><a href="#">Nam vel nunc at augue vehicula feugiat.</a></h3>
                                        <span class="smalldate">April 22, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                    <li>
                                        <div class="postimg"><img src="images/content/lp3.gif" alt="" /></div>
                                        <h3><a href="#">Integer pretium ipsum sit amet dui feugiat.</a></h3>
                                        <span class="smalldate">April 20, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Text Widget</h2>
                                <div class="textwidget">Nunc in diam ut tortor vestibulum eleifend sit amet at diam. Phasellus mollis, ante et suscipit egestas, elit nunc facilisis elit, vitae malesuada dui mauris aliquam mi.</div>
                            </li>
                        </ul>
                        </div>
                    </aside>
                 
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER -->
        <footer id="footer">
        	
            <!-- FOOTER SIDEBAR -->
            <div id="outerfootersidebar">
                <div class="container">
                    <div id="footersidebar" class="row"> 

                        <div id="footcol1"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Latest Post</h2>
                                    <ul class="rp-widget">
                                        <li>
                                            <img  alt="" src="images/content/rp.gif">
                                            <h3><a href="#">Cool Features Item</a></h3>
                                            <span class="smalldate">April 27, 2013</span>
                                            <p>Mauris sit amet purus est, nec mollis ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
                                            <a href="#" class="more">Read More</a>
                                            <span class="clear"></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol2"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Our Gallery</h2>
									<ul class="flickr">
                                    	<li><a href="#"><img src="images/content/g1.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g2.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g3.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g4.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g5.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g6.gif" alt="" /></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol3"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Our Categories</h2>
                                    <ul class="list">
                                        <li><a href="#">Styling Option</a></li>
                                        <li><a href="#">General Option</a></li>
                                        <li><a href="#">Overview</a></li>
                                        <li><a href="#">Header Settings</a></li>
                                        <li><a href="#">Showcase</a></li>
                                        <li><a href="#">Website Design</a></li>
                                        <li><a href="#">Layout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol4"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Find Us</h2>
                                    <ul class="sn">
                                        <li><a href="http://twitter.com" title="Twitter"><span class="icon-img twitter"></span></a></li>
                                        <li><a href="http://facebook.com" title="Facebook"><span class="icon-img facebook"></span></a></li>
                                        <li><a href="https://plus.google.com" title="Google+"><span class="icon-img google"></span></a></li>
                                        <li><a href="http://rss.com" title="RSS"><span class="icon-img rss"></span></a></li>
                                        <li><a href="http://pinterest.com" title="Pinterest"><span class="icon-img pinterest"></span></a></li>
                                    </ul> 
                              </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                 
                    </div>
                </div>
            </div>
            <!-- END FOOTER SIDEBAR -->
            
            <!-- COPYRIGHT -->
            <div id="outercopyright">
                <div class="container">
                    <div id="copyright">
                    	Copyright &copy;2013. All Rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                    </div>
                </div>
            </div>
            <!-- END COPYRIGHT -->
        </footer>
        <!-- END FOOTER -->
        <div class="clear"></div><!-- clear float --> 
	</div><!-- end outercontainer -->
</div><!-- end bodychild -->


<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script>


<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="js/tinynav.min.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="js/custom.js"></script>

<!-- Form Contact Script -->
<script type="text/javascript" src="js/contact.js"></script>


</body>
</html>
