{% extends "common/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
        <!-- BEFORE CONTENT -->
        <div id="outerbeforecontent">
        	<div class="container">
            <div class="row">
                <div id="beforecontent" class="twelve columns">
                
                    <h1 class="pagetitle">Portfolio</h1>
                    <span class="pagedesc">This can be your tagline or something you want.</span>
                    
                    <a href="#" class="button">Buy Theme</a>
                    
                </div>
            </div>
            </div>
        </div>
        <!-- END BEFORE CONTENT -->


        <!-- MAIN CONTENT -->
        <div id="outermain" class="fullwidth">
        	<div class="container">
                <div class="row">
                	<section id="maincontent" class="twelve columns">
                    
                        <section class="content">
                            
                            <!-- Begin Portfolio Nav -->
                            <div id="frame-filter">
                            <ul id="filter">
                                <li class="current"><a href="#" data-filter="*">{% trans 'all categories' %}</a><span></span></li>
                                {% for category in category_list %}
                                	 <li><a href="#" data-filter=".{{category.title}}">{{category.title}}</a><span></span></li>
                                {% endfor %}
                            </ul> 
                            <div class="clear"></div>
                            </div> 
                            <!-- End Portfolio Nav -->    
                              
                            <!-- Begin Portfolio Items -->
                            <div id="ts-display" class="row">
                            		{% for bookmark in bookmark_list %}
	                            		<div class="one_fourth columns item {{bookmark.category_name}}">
	                                        <div class="ts-display-pf-img">
	                                            <a class="image" href="{{bookmark.url}}"  >
	                                            <span class="rollover"></span>
	                                            <span class="zoom"></span>
	                                            <img src="{{MEDIA_URL}}{{bookmark.head_image }}" alt=""/>
	                                            </a>							
	                                        </div>
	                                        <div class="ts-display-pf-text">
	                                            <h2><a href="{{bookmark.url}}">{{bookmark.title}}</a></h2>
	                                            <span>{{bookmark.description}}</span>
	                                        </div>
	                                        <div class="ts-display-clear"></div>
	                                    </div>
                            		{% endfor %}
                            </div>
                            <!-- End Portfolio Items -->
                            
                        </section>
                    
                	</section>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->

{% endblock %}

{% block javascript %}
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="{% static 'js/hoverIntent.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/superfish.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/supersubs.js' %}"></script>


<!-- jQuery PrettyPhoto -->
<script type="text/javascript" src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fade.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-easing-1.3.js' %}"></script>

<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="{% static 'js/tinynav.min.js' %}"></script>

<!-- Custom Script -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

<!-- jQuery PrettyPhoto -->
<script type="text/javascript" src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fade.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-easing-1.3.js' %}"></script>

<!-- jQuery Isotope -->
<script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script>
function runisotope(){
	$container = jQuery('#ts-display');
		$container.isotope({
			itemSelector : '.item'
		});

	// filter items when filter link is clicked
	jQuery('#filter li').click(function(){
	jQuery('#filter li').removeClass('current');
		jQuery(this).addClass('current');
			var selector = jQuery(this).find('a').attr('data-filter');
			$container.isotope({ filter: selector });
		return false;
	}); 
};
jQuery(window).load(function(){
	runisotope();
});

jQuery(window).smartresize(function(){
	runisotope();
});
</script>
{% endblock %}

</body>
</html>
