<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Amazing</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.useso.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/inner.css" />
    <link rel="stylesheet" href="styles/color.css" />
    <link rel="stylesheet" href="styles/layout.css" />

    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" />

    
    
</head>


<body>

<div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader">

            <header id="top">

                    <div id="logo">
                        <a href="index.html"><img src="images/logo.png" alt=""/></a>
                    </div>

                    <section id="navigation">
                        <nav id="nav-wrap">
                            <ul id="topnav" class="sf-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a>
                                    <ul>
                                        <li><a href="element.html">Elements</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul>
                                                <li><a href="#">Only</a></li>
                                                <li><a href="#">Example of</a></li>
                                                <li><a href="#">The Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="current"><a href="service.html">Services</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                
                            </ul><!-- topnav -->
                           
                            <div class="clear"></div>
                        </nav><!-- nav -->	
                    </section>
            
                <div class="clear"></div>
            </header>

        </div>
        <!-- END HEADER -->
        
        <!-- BEFORE CONTENT -->
        <div id="outerbeforecontent">
        	<div class="container">
            <div class="row">
                <div id="beforecontent" class="twelve columns">
                
                    <h1 class="pagetitle">Services</h1>
                    <span class="pagedesc">This can be your tagline or something you want.</span>
                    
                    <a href="#" class="button">Buy Theme</a>
                    
                </div>
            </div>
            </div>
        </div>
        <!-- END BEFORE CONTENT -->


        <!-- MAIN CONTENT -->
        <div id="outermain" class="fullwidth">
        	<div class="container">
                <div class="row">
                	<section id="maincontent" class="twelve columns">
                    
                        <section class="content">
							<div class="textCenter">
                            <img src="images/content/img-service.png" alt="" />
                            </div>
                            <div class="spacer"></div>
                            <div class="row">
                                <div class="two_third columns">
                                    <h3>Service Overview</h3>
                                    <p>Duis scelerisque magna in mauris blandit vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et lectus nisl, eget viverra erat. Sed et justo ligula. Phasellus mollis purus molestie est molestie aliquam. Etiam bibendum, nulla vel laoreet semper, elit mauris rhoncus ipsum, vel dapibus nulla sapien sit amet enim. Etiam tincidunt vehicula dui.</p>
                                </div>
                                <div class="one_third columns">
                                    <h3>Our Features</h3>
                                    <ul class="list">
                                        <li>Our staff  is ready for your own</li>
                                        <li>We make our client proud of our work</li>
                                        <li>Keep calm and stay amazing</li>
                                        <li>Simple, Unique and Flexible Layout</li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="separator"></div>
                                
                            <div class="row textCenter">
                                <div class="one_third columns">
                                    <h3>Smart Layout</h3>
                                    <p>Pellentesque tempor lacus vitae risus accumsan<br> faucibus. Suspendisse cursus felis id augue<br> ultrices vel scelerisque arcu pulvinar.</p>
                                    <a href="#" class="button">Read More</a>
                                </div>
                                <div class="one_third columns">
                                    <h3>Fresh Ideas</h3>
                                    <p>Pellentesque tempor lacus vitae risus accumsan<br> faucibus. Suspendisse cursus felis id augue<br> ultrices vel scelerisque arcu pulvinar.</p>
                                    <a href="#" class="button">Read More</a>
                                </div>
                                <div class="one_third columns">
                                    <h3>Strong Design</h3>
                                    <p>Pellentesque tempor lacus vitae risus accumsan<br> faucibus. Suspendisse cursus felis id augue<br> ultrices vel scelerisque arcu pulvinar.</p>
                                    <a href="#" class="button">Read More</a>
                                </div>
                            </div>
                        	
                            <div class="spacer"></div>
                            
                            <div class="row textCenter">
                                <div class="one_third columns">
                                    <h3>Drag and Drop</h3>
                                    <p>Pellentesque tempor lacus vitae risus accumsan<br> faucibus. Suspendisse cursus felis id augue<br> ultrices vel scelerisque arcu pulvinar.</p>
                                    <a href="#" class="button">Read More</a>
                                </div>
                                <div class="one_third columns">
                                    <h3>Unlimited Option</h3>
                                    <p>Pellentesque tempor lacus vitae risus accumsan<br> faucibus. Suspendisse cursus felis id augue<br> ultrices vel scelerisque arcu pulvinar.</p>
                                    <a href="#" class="button">Read More</a>
                                </div>
                                <div class="one_third columns">
                                    <h3>Fully Responsive</h3>
                                    <p>Pellentesque tempor lacus vitae risus accumsan<br> faucibus. Suspendisse cursus felis id augue<br> ultrices vel scelerisque arcu pulvinar.</p>
                                    <a href="#" class="button">Read More</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </section>
                    
                	</section>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER -->
        <footer id="footer">
        	
            <!-- FOOTER SIDEBAR -->
            <div id="outerfootersidebar">
                <div class="container">
                    <div id="footersidebar" class="row"> 

                        <div id="footcol1"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Latest Post</h2>
                                    <ul class="rp-widget">
                                        <li>
                                            <img  alt="" src="images/content/rp.gif">
                                            <h3><a href="#">Cool Features Item</a></h3>
                                            <span class="smalldate">April 27, 2013</span>
                                            <p>Mauris sit amet purus est, nec mollis ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
                                            <a href="#" class="more">Read More</a>
                                            <span class="clear"></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol2"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Our Gallery</h2>
									<ul class="flickr">
                                    	<li><a href="#"><img src="images/content/g1.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g2.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g3.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g4.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g5.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g6.gif" alt="" /></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol3"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Our Categories</h2>
                                    <ul class="list">
                                        <li><a href="#">Styling Option</a></li>
                                        <li><a href="#">General Option</a></li>
                                        <li><a href="#">Overview</a></li>
                                        <li><a href="#">Header Settings</a></li>
                                        <li><a href="#">Showcase</a></li>
                                        <li><a href="#">Website Design</a></li>
                                        <li><a href="#">Layout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol4"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Find Us</h2>
                                    <ul class="sn">
                                        <li><a href="http://twitter.com" title="Twitter"><span class="icon-img twitter"></span></a></li>
                                        <li><a href="http://facebook.com" title="Facebook"><span class="icon-img facebook"></span></a></li>
                                        <li><a href="https://plus.google.com" title="Google+"><span class="icon-img google"></span></a></li>
                                        <li><a href="http://rss.com" title="RSS"><span class="icon-img rss"></span></a></li>
                                        <li><a href="http://pinterest.com" title="Pinterest"><span class="icon-img pinterest"></span></a></li>
                                    </ul> 
                              </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                 
                    </div>
                </div>
            </div>
            <!-- END FOOTER SIDEBAR -->
            
            <!-- COPYRIGHT -->
            <div id="outercopyright">
                <div class="container">
                    <div id="copyright">
                    	Copyright &copy;2013. All Rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                    </div>
                </div>
            </div>
            <!-- END COPYRIGHT -->
        </footer>
        <!-- END FOOTER -->
        <div class="clear"></div><!-- clear float --> 
	</div><!-- end outercontainer -->
</div><!-- end bodychild -->


<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script>


<!-- jQuery PrettyPhoto -->
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/fade.js"></script>
<script type="text/javascript" src="js/jquery-easing-1.3.js"></script>

<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="js/tinynav.min.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="js/custom.js"></script>

<!-- jQuery PrettyPhoto -->
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/fade.js"></script>
<script type="text/javascript" src="js/jquery-easing-1.3.js"></script>

<!-- jQuery Isotope -->
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script>
function runisotope(){
	$container = jQuery('#ts-display');
		$container.isotope({
			itemSelector : '.item'
		});

	// filter items when filter link is clicked
	jQuery('#filter li').click(function(){
	jQuery('#filter li').removeClass('current');
		jQuery(this).addClass('current');
			var selector = jQuery(this).find('a').attr('data-filter');
			$container.isotope({ filter: selector });
		return false;
	}); 
};
jQuery(window).load(function(){
	runisotope();
});

jQuery(window).smartresize(function(){
	runisotope();
});
</script>


</body>
</html>
