<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Amazing</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.useso.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/inner.css" />    
    <link rel="stylesheet" href="styles/color.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/flexslider.css" />
    <link rel="stylesheet" href="styles/prettyPhoto.css"  media="screen" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" />

    
    
</head>


<body>

<div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader">
            <header id="top">

                    <div id="logo">
                        <a href="index.html"><img src="images/logo.png" alt=""/></a>
                    </div>

                    <section id="navigation">
                        <nav id="nav-wrap">
                            <ul id="topnav" class="sf-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a>
                                    <ul>
                                        <li><a href="element.html">Elements</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul>
                                                <li><a href="#">Only</a></li>
                                                <li><a href="#">Example of</a></li>
                                                <li><a href="#">The Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="service.html">Services</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li class="current"><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                
                            </ul><!-- topnav -->
                           
                            <div class="clear"></div>
                        </nav><!-- nav -->	
                    </section>
            
                <div class="clear"></div>
            </header>
        </div>
        <!-- END HEADER -->
        
        <!-- BEFORE CONTENT -->
        <div id="outerbeforecontent">
        	<div class="container">
            <div class="row">
                <div id="beforecontent" class="twelve columns">
                
                    <h1 class="pagetitle">Our Blog</h1>
                    <span class="pagedesc">This can be your tagline or something you want.</span>
                    
                    <a href="#" class="button">Buy Theme</a>
                    
                </div>
            </div>
            </div>
        </div>
        <!-- END BEFORE CONTENT -->


        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
           
                    <section id="maincontent" class="eight columns positionleft">
                    	<div class="padcontent">

                            <section class="content">
                            
								<article class="post">
                                    <div class="date-wrapper"> 
										<div class="date-value">11</div>
                                        <div class="month-value">March</div>
                                    </div>
                                	<div class="header-wrapper">
                                        <h2 class="posttitle"><a href="single.html">Pellentesque sollicitudin ligula tempor.</a></h2>
                                        <div class="entry-utility">
                                            <div class="user">Posted by: <a href="#">Templatesquare</a></div> <div class="tag">Tags: <a href="#">Wordpress</a></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="postimg">
                                        <img src="images/content/post1.jpg" alt="" />
                                    </div>
       
                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet erat eu nisl pharetra rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi porta porttitor tempus. Vivamus mattis augue vitae ante ullamcorper bibendum. Ut non nulla mi, eget imperdiet sem. Nam lacus ligula, venenatis vel aliquet eu, venenatis congue magna. Sed rutrum faucibus semper. </p>
                                        
                                        <p>Vestibulum at sapien vel magna bibendum vehicula. Donec sollicitudin erat consequat dui volutpat congue ornare lectus adipiscing. Maecenas a augue libero, non pulvinar justo. Donec convallis tortor ut augue vehicula faucibus. Vestibulum vitae lorem dolor. Praesent rhoncus vulputate quam, a vehicula lorem congue et.</p>
                                        
                                        <p>Donec ultrices ipsum id metus aliquam viverra et sed nibh. Integer elementum vehicula neque sit amet ornare. Cras a elit risus. Nullam quis congue orci. Ut id pretium leo. Maecenas odio erat, tristique placerat viverra in, tempus ac lacus.</p>
                                        
                                        <blockquote>Suspendisse sed mi a risus convallis tincidunt. Aenean <br>
aliquam metus at nulla lobortis cursus. Proin quis euismod<br>
 quam. Vestibulum sed sapien ac.</blockquote>
                                        
                                        <p>Donec ultrices ipsum id metus aliquam viverra et sed nibh. Integer elementum vehicula neque sit amet ornare. Cras a elit risus. Nullam quis congue orci. Ut id pretium leo. Maecenas odio erat, tristique placerat viverra in, tempus ac lacus.</p>
                                        <ul class="list">
                                            <li>We make a strong design</li>
                                            <li>Our staff  is ready for your own</li>
                                            <li>We make our client proud of our work</li>
                                            <li>Keep calm and stay amazing</li>
                                        </ul>

                                    </div>
                                   
                                    <div class="clear"></div>
                                </article>
                                
								<div class="author">
                                	<h3>About Author:</h3>
                                    <div class="alignleft"><img class="avatar scale-with-grid" alt="" src="images/content/avatar.gif"></div>
                                    <div class="author-desc">
                                    <h5>John Doe</h5>
                                    <p>Aliquam erat volutpat. Nulla vel dolor vitae purus blandit semper. Sed neque eros, viverra vel sollicitudin mollis, luctus eget nulla. Maecenas in risus eu velit pretium egestas eget sit amet magna. Cum sociis natoque penatibus.</p>
                                    </div>
                                </div>
                                <div class="separator"></div>
                                <section id="comment">
                                    <h3>4 Comments</h3>
                                    <ol class="commentlist">
                                        <li>
                                            <div class="comment-body">
                                            	<div class="comment-arrow"></div>
                                                <div class="avatar-img"><img src="images/content/avatar.gif" alt="" class="avatar"/></div>
                                                <cite class="fn">Richard Delano</cite>
                                                <span class="tdate">August 17, 2010 7:15 am</span> &nbsp;/&nbsp; <span class="reply"><a href="#">Reply</a></span>
                                                <div class="commenttext">
                                                    <p>Nulla lobortis facilisis eros vitae mollis. Morbi consectetur, tortor ut feugiat rhoncus, nunc augue placerat massa, sit amet laoreet est libero quis nisl. Integer cursus sodales sem eu dapibus. Morbi lobortis eleifend lectus sit amet porttitor. Nam tincidunt congue laoreet.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="comment-body">
                                            	<div class="comment-arrow"></div>
                                                <div class="avatar-img"><img src="images/content/avatar.gif" alt="" class="avatar"/></div>
                                                <cite class="fn"><a href="#">Michael John</a></cite>
                                                <span class="tdate">August 17, 2010 7:15 am</span> &nbsp;/&nbsp; <span class="reply"><a href="#">Reply</a></span>
                                                <div class="commenttext">
                                                    <p>Nulla lobortis facilisis eros vitae mollis. Morbi consectetur, tortor ut feugiat rhoncus, nunc augue placerat massa, sit amet laoreet est libero quis nisl. Integer cursus sodales sem eu dapibus. Morbi lobortis eleifend lectus sit amet porttitor. Nam tincidunt congue laoreet.</p>
                                                </div>
                                            </div>
                                            <ol>
                                                <li>
                                                    <div class="comment-body">
                                                    	<div class="comment-arrow"></div>
                                                        <div class="avatar-img"><img src="images/content/avatar.gif" alt="" class="avatar"/></div>
                                                        <cite class="fn"><a href="#">Wayne Rooney</a></cite>
                                                        <span class="tdate">August 17, 2010 7:15 am</span> &nbsp;/&nbsp; <span class="reply"><a href="#">Reply</a></span>
                                                        <div class="commenttext">
                                                            <p>Nulla lobortis facilisis eros vitae mollis. Morbi consectetur, tortor ut feugiat rhoncus, nunc augue placerat massa, sit amet laoreet est libero quis nisl. Integer cursus sodales sem eu dapibus. Morbi lobortis eleifend lectus sit amet porttitor. Nam tincidunt congue laoreet.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <div class="comment-body">
                                            	<div class="comment-arrow"></div>
                                                <div class="avatar-img"><img src="images/content/avatar.gif" alt="" class="avatar"/></div>
                                                <cite class="fn"><a href="#">John Doe</a></cite>
                                                <span class="tdate">August 17, 2010 7:15 am</span> &nbsp;/&nbsp; <span class="reply"><a href="#">Reply</a></span>
                                                <div class="commenttext">
                                                    <p>Nulla lobortis facilisis eros vitae mollis. Morbi consectetur, tortor ut feugiat rhoncus, nunc augue placerat massa, sit amet laoreet est libero quis nisl. Integer cursus sodales sem eu dapibus. Morbi lobortis eleifend lectus sit amet porttitor. Nam tincidunt congue laoreet.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </section>              

                            </section>
                         
                        </div>
                    </section>
                    
                    <aside id="sidebar" class="four columns">
                    	<div class="padsidebar">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Search</h2>
                                <form action="#" id="searchform" method="get">
                                    <div class="bgsearch">
                                    <input type="text" value="" id="s" name="s"> 
                                    <input type="submit" value="" class="searchbutton">
                                    </div>
                                </form>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Categories</h2>
                                <ul>
                                    <li><a href="#">Company News</a></li>
                                    <li><a href="#">Website Design &amp; Development</a></li>
                                    <li><a href="#">Learning jQuery</a></li>
                                    <li><a href="#">Photography Design</a></li>
                                    <li><a href="#">Wordpress</a></li>
                                    <li><a href="#">Typography</a></li>
                                    <li><a href="#">Columns</a></li>
                                    <li><a href="#">Buttons</a></li>
                                    <li><a href="#">Video Player</a></li>
                                </ul>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Latest Post</h2>
                                <ul class="rp-widget">
                                    <li>
                                        <div class="postimg"><img src="images/content/lp1.gif" alt="" /></div>
                                        <h3><a href="#">Sed at urna sed libero.</a></h3>
                                        <span class="smalldate">April 27, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                    <li>
                                        <div class="postimg"><img src="images/content/lp2.gif" alt="" /></div>
                                        <h3><a href="#">Nam vel nunc at augue vehicula feugiat.</a></h3>
                                        <span class="smalldate">April 22, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                    <li>
                                        <div class="postimg"><img src="images/content/lp3.gif" alt="" /></div>
                                        <h3><a href="#">Integer pretium ipsum sit amet dui feugiat.</a></h3>
                                        <span class="smalldate">April 20, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Text Widget</h2>
                                <div class="textwidget">Nunc in diam ut tortor vestibulum eleifend sit amet at diam. Phasellus mollis, ante et suscipit egestas, elit nunc facilisis elit, vitae malesuada dui mauris aliquam mi.</div>
                            </li>
                        </ul>
                        </div>
                    </aside>
                 
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER -->
        <footer id="footer">
        	
            <!-- FOOTER SIDEBAR -->
            <div id="outerfootersidebar">
                <div class="container">
                    <div id="footersidebar" class="row"> 

                        <div id="footcol1"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Latest Post</h2>
                                    <ul class="rp-widget">
                                        <li>
                                            <img  alt="" src="images/content/rp.gif">
                                            <h3><a href="#">Cool Features Item</a></h3>
                                            <span class="smalldate">April 27, 2013</span>
                                            <p>Mauris sit amet purus est, nec mollis ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
                                            <a href="#" class="more">Read More</a>
                                            <span class="clear"></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol2"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Our Gallery</h2>
									<ul class="flickr">
                                    	<li><a href="#"><img src="images/content/g1.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g2.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g3.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g4.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g5.gif" alt="" /></a></li>
                                        <li><a href="#"><img src="images/content/g6.gif" alt="" /></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol3"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Our Categories</h2>
                                    <ul class="list">
                                        <li><a href="#">Styling Option</a></li>
                                        <li><a href="#">General Option</a></li>
                                        <li><a href="#">Overview</a></li>
                                        <li><a href="#">Header Settings</a></li>
                                        <li><a href="#">Showcase</a></li>
                                        <li><a href="#">Website Design</a></li>
                                        <li><a href="#">Layout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol4"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Find Us</h2>
                                    <ul class="sn">
                                        <li><a href="http://twitter.com" title="Twitter"><span class="icon-img twitter"></span></a></li>
                                        <li><a href="http://facebook.com" title="Facebook"><span class="icon-img facebook"></span></a></li>
                                        <li><a href="https://plus.google.com" title="Google+"><span class="icon-img google"></span></a></li>
                                        <li><a href="http://rss.com" title="RSS"><span class="icon-img rss"></span></a></li>
                                        <li><a href="http://pinterest.com" title="Pinterest"><span class="icon-img pinterest"></span></a></li>
                                    </ul> 
                              </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                 
                    </div>
                </div>
            </div>
            <!-- END FOOTER SIDEBAR -->
            
            <!-- COPYRIGHT -->
            <div id="outercopyright">
                <div class="container">
                    <div id="copyright">
                    	Copyright &copy;2013. All Rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                    </div>
                </div>
            </div>
            <!-- END COPYRIGHT -->
        </footer>
        <!-- END FOOTER -->
        <div class="clear"></div><!-- clear float --> 
	</div><!-- end outercontainer -->
</div><!-- end bodychild -->


<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script>


<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="js/tinynav.min.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="js/custom.js"></script>


</body>
</html>
