{% extends "common/base_blog.html" %}
{% load staticfiles %}
{% load i18n %}
{% load comments %}

{% block maincontent %}
    <section class="content">
    
		<article class="post">
            <div class="date-wrapper"> 
				<div class="date-value">{{ post.publication_date.day}}</div>
                <div class="month-value">{{ post.publication_date|date:"M" }}</div>
            </div>
        	<div class="header-wrapper">
                <h2 class="posttitle"><a href="single.html">{{ post.title }}</a></h2>
                <div class="entry-utility">
                    <div class="user">{% trans 'Posted by' %}: <a href="#">william</a></div> <div class="tag">{% trans 'Tags' %}: <a href="#">{{post.tags}}</a></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="postimg">
            	<img src="{{ post.head_image_url }}" alt="" />
            </div>
   
            <div class="entry-content">
                {{ post.content|safe }}
            </div>
           
            <div class="clear"></div>
        </article>
        
		<div class="author">
        	<h3>About Author:</h3>
            <div class="alignleft"><img class="avatar scale-with-grid" alt="" src="images/content/avatar.gif"></div>
            <div class="author-desc">
            <h5>John Doe</h5>
            <p>Aliquam erat volutpat. Nulla vel dolor vitae purus blandit semper. Sed neque eros, viverra vel sollicitudin mollis, luctus eget nulla. Maecenas in risus eu velit pretium egestas eget sit amet magna. Cum sociis natoque penatibus.</p>
            </div>
        </div>
        <div class="separator"></div>
        <section id="comment">
            <h3>4 Comments</h3>
            <ol class="commentlist">
                <li>
                    <div class="comment-body">
                    	<div class="comment-arrow"></div>
                        <div class="avatar-img"><img src="images/content/avatar.gif" alt="" class="avatar"/></div>
                        <cite class="fn">Richard Delano</cite>
                        <span class="tdate">August 17, 2010 7:15 am</span> &nbsp;/&nbsp; <span class="reply"><a href="#">Reply</a></span>
                        <div class="commenttext">
                            <p>Nulla lobortis facilisis eros vitae mollis. Morbi consectetur, tortor ut feugiat rhoncus, nunc augue placerat massa, sit amet laoreet est libero quis nisl. Integer cursus sodales sem eu dapibus. Morbi lobortis eleifend lectus sit amet porttitor. Nam tincidunt congue laoreet.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="comment-body">
                    	<div class="comment-arrow"></div>
                        <div class="avatar-img"><img src="images/content/avatar.gif" alt="" class="avatar"/></div>
                        <cite class="fn"><a href="#">Michael John</a></cite>
                        <span class="tdate">August 17, 2010 7:15 am</span> &nbsp;/&nbsp; <span class="reply"><a href="#">Reply</a></span>
                        <div class="commenttext">
                            <p>Nulla lobortis facilisis eros vitae mollis. Morbi consectetur, tortor ut feugiat rhoncus, nunc augue placerat massa, sit amet laoreet est libero quis nisl. Integer cursus sodales sem eu dapibus. Morbi lobortis eleifend lectus sit amet porttitor. Nam tincidunt congue laoreet.</p>
                        </div>
                    </div>
                    <ol>
                        <li>
                            <div class="comment-body">
                            	<div class="comment-arrow"></div>
                                <div class="avatar-img"><img src="images/content/avatar.gif" alt="" class="avatar"/></div>
                                <cite class="fn"><a href="#">Wayne Rooney</a></cite>
                                <span class="tdate">August 17, 2010 7:15 am</span> &nbsp;/&nbsp; <span class="reply"><a href="#">Reply</a></span>
                                <div class="commenttext">
                                    <p>Nulla lobortis facilisis eros vitae mollis. Morbi consectetur, tortor ut feugiat rhoncus, nunc augue placerat massa, sit amet laoreet est libero quis nisl. Integer cursus sodales sem eu dapibus. Morbi lobortis eleifend lectus sit amet porttitor. Nam tincidunt congue laoreet.</p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </li>
                <li>
                    <div class="comment-body">
                    	<div class="comment-arrow"></div>
                        <div class="avatar-img"><img src="images/content/avatar.gif" alt="" class="avatar"/></div>
                        <cite class="fn"><a href="#">John Doe</a></cite>
                        <span class="tdate">August 17, 2010 7:15 am</span> &nbsp;/&nbsp; <span class="reply"><a href="#">Reply</a></span>
                        <div class="commenttext">
                            <p>Nulla lobortis facilisis eros vitae mollis. Morbi consectetur, tortor ut feugiat rhoncus, nunc augue placerat massa, sit amet laoreet est libero quis nisl. Integer cursus sodales sem eu dapibus. Morbi lobortis eleifend lectus sit amet porttitor. Nam tincidunt congue laoreet.</p>
                        </div>
                    </div>
                </li>
            </ol>
        </section>              
			{% render_comment_form for post %}
    </section>
{% endblock %}
