{% extends "common/base_blog.html" %}
{% load staticfiles %}
{% load i18n %}
{% load comments %}

{% block maincontent %}
    <section class="content">
    
		<article class="post">
            <div class="date-wrapper"> 
				<div class="date-value">{{ post.publication_date.day}}</div>
                <div class="month-value">{{ post.publication_date|date:"M" }}</div>
            </div>
        	<div class="header-wrapper">
                <h2 class="posttitle"><a href="single.html">{{ post.title }}</a></h2>
                <div class="entry-utility">
                    <div class="user">{% trans 'Posted by' %}: <a href="#">william</a></div> <div class="tag">{% trans 'Tags' %}: <a href="#">{{post.tags}}</a></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="postimg">
            	<img src="{{ post.head_image_url }}" alt="" />
            </div>
   
            <div class="entry-content">
                {{ post.content|safe }}
            </div>
           
            <div class="clear"></div>
        </article>
        
		<div class="author">
        	<h3>About Author:</h3>
            <div class="alignleft"><img class="avatar scale-with-grid" alt="" src="images/content/avatar.gif"></div>
            <div class="author-desc">
            <h5>John Doe</h5>
            <p>Aliquam erat volutpat. Nulla vel dolor vitae purus blandit semper. Sed neque eros, viverra vel sollicitudin mollis, luctus eget nulla. Maecenas in risus eu velit pretium egestas eget sit amet magna. Cum sociis natoque penatibus.</p>
            </div>
        </div>
        <div class="separator"></div>
        <section id="comment">
        
        	{% get_comment_count for post as comment_count %}
        	
            <h3>{{ comment_count }} Comments</h3>
            <ol class="commentlist">
            
            {% get_comment_list for post as comment_list %}
            {% for comment in comment_list %}
                <li>
                    <div class="comment-body">
                    	<div class="comment-arrow"></div>
                        <div class="avatar-img"><img src="{% static 'images/content/avatar.gif' %}" alt="" class="avatar"/></div>
                        <cite class="fn">{{ comment.user_name }}</cite>
                        <cite class="fn"><a href="{{ comment.user_url }}">{{ comment.user_url }}</a></cite>
                        <cite class="fn">{{ comment.user_email}}</cite>
                        <span class="tdate">{{ comment.submit_date }}</span> &nbsp;/&nbsp; <span class="reply"><a href="#">Reply</a></span>
                        <div class="commenttext">
                            <p>{{comment.comment}}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ol>
        </section>  
        <div class="separator"></div>
        <h3>{% trans 'Send Us a Message' %}</h3>
		<p>{% trans 'message content' %}</p>
                        
		{% get_comment_form for post as form %}
		<div id="contactform">
		  <form id="content" action="{% comment_form_target %}" method="post">
		    {% csrf_token %}
			<label for="name" id="name_label">Name (required)</label>
			<input type="text" name="name" id="id_name" size="50" value="" class="text-input" />
			<label for="email" id="email_label">URL (required)</label>
			<input type="text" name="url" id="id_url" size="50" value="" class="text-input" />
			<label for="email" id="email_label">Email (required)</label>
			<input type="text" name="email" id="id_email" size="50" value="" class="text-input" />
			<label for="msg" id="msg_label">Message</label>
			<textarea rows="10" cols="40" name="comment" id="id_comment" class="text-input" maxlength="3000"></textarea>
			<br/>
		    {{ form.content_type }}
		    {{ form.object_pk }}
		    {{ form.timestamp }}
		    {{ form.security_hash }}
		    <input type="submit" class="button" id="submit_btn" name="submit" value="Send Message"/>
		    <input type="hidden" name="next" value="{% url 'blog:single' post.id %}" />
		  </form>
		  <div class="clear"></div>
		</div>
    </section>
{% endblock %}
