{% extends "common/base_nav.html" %}

<!-- HEADER -->
        <div id="outerheader">
            <header id="top">

                    <div id="logo">
                        <a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""/><h3 class="logofont">William's blog</h3><h4 class="logofont">made by pengjunjie (william valentine)</h4></a>
                        
                    </div>

                    <section id="navigation">
                        <nav id="nav-wrap">
                            <ul id="topnav" class="sf-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a>
                                    <ul>
                                        <li><a href="element.html">Elements</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul>
                                                <li><a href="#">Only</a></li>
                                                <li><a href="#">Example of</a></li>
                                                <li><a href="#">The Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="service.html">Services</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li class="current"><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                
                            </ul><!-- topnav -->
                           
                            <div class="clear"></div>
                        </nav><!-- nav -->	
                    </section>
            
                <div class="clear"></div>
            </header>
        </div>
        <!-- END HEADER -->