{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>amazing</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.useso.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/inner.css' %}" />    
    <link rel="stylesheet" href="{% static 'styles/color.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    
    
</head>


<body>

<div id="bodychild">
	<div id="outercontainer">
	
    {% block header %}{% endblock %}
        
        <!-- BEFORE CONTENT -->
        <div id="outerbeforecontent">
        	<div class="container">
            <div class="row">
                <div id="beforecontent" class="twelve columns">
                
                    <h1 class="pagetitle">Our Blog</h1>
                    <span class="pagedesc">This can be your tagline or something you want.</span>
                    
                    <a href="#" class="button">Buy Theme</a>
                    
                </div>
            </div>
            </div>
        </div>
        <!-- END BEFORE CONTENT -->


        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
           
                    <section id="maincontent" class="eight columns positionleft">
                    	<div class="padcontent">

                            <section class="content">
                            
                            	{% if latest_entry_list %}
                            		{% for entry in latest_entry_list %}
                            		
                            	<article class="post">
                                    <div class="date-wrapper"> 
										<div class="date-value">{{ entry.publication_date.day }}</div>
                                        <div class="month-value">{{ entry.publication_date.month }}</div>
                                    </div>
                                	<div class="header-wrapper">
                                        <h2 class="posttitle"><a href="single.html">{{entry.title}}</a></h2>
                                        <div class="entry-utility">
                                            <div class="user">Posted by <a href="#">Templatesquare</a></div> <div class="tag">Tags: <a href="#">Wordpress</a></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="postimg">
                                        <img src="{{entry.head_image_url}}" alt="" />
                                    </div>
       
                                    <div class="entry-content">
                                    	{{ entry.blog_abstract }}
										<a href="single.html" class="more">更多&rarr;</a>
                                    </div>
                                   
                                    <div class="clear"></div>
                                </article>
                            		{% endfor %}
                            	{% endif %}
                            	
								<article class="post">
                                    <div class="date-wrapper"> 
										<div class="date-value">11</div>
                                        <div class="month-value">March</div>
                                    </div>
                                	<div class="header-wrapper">
                                        <h2 class="posttitle"><a href="single.html">Pellentesque sollicitudin ligula tempor.</a></h2>
                                        <div class="entry-utility">
                                            <div class="user">Posted by <a href="#">Templatesquare</a></div> <div class="tag">Tags: <a href="#">Wordpress</a></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="postimg">
                                        <img src="{% static 'images/content/post1.jpg' %}" alt="" />
                                    </div>
       
                                    <div class="entry-content">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet erat eu nisl pharetra rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi porta porttitor tempus. Vivamus mattis augue vitae ante ullamcorper bibendum.</p>
										<a href="single.html" class="more">Read more  &rarr;</a>
                                    </div>
                                   
                                    <div class="clear"></div>
                                </article>
                                
 								<article class="post">
                                    <div class="date-wrapper"> 
										<div class="date-value">11</div>
                                        <div class="month-value">March</div>
                                    </div>
                                	<div class="header-wrapper">
                                        <h2 class="posttitle"><a href="single.html">Pellentesque sollicitudin ligula tempor.</a></h2>
                                        <div class="entry-utility">
                                            <div class="user">Posted by <a href="#">Templatesquare</a></div> <div class="tag">Tags: <a href="#">Wordpress</a></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="postimg">
                                        <img src="{% static 'images/content/post2.jpg' %}" alt="" />
                                    </div>
       
                                    <div class="entry-content">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet erat eu nisl pharetra rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi porta porttitor tempus. Vivamus mattis augue vitae ante ullamcorper bibendum.</p>
										<a href="single.html" class="more">Read more  &rarr;</a>
                                    </div>
                                   
                                    <div class="clear"></div>
                                </article>
                                
								<article class="post">
                                    <div class="date-wrapper"> 
										<div class="date-value">11</div>
                                        <div class="month-value">March</div>
                                    </div>
                                	<div class="header-wrapper">
                                        <h2 class="posttitle"><a href="single.html">Pellentesque sollicitudin ligula tempor.</a></h2>
                                        <div class="entry-utility">
                                            <div class="user">Posted by <a href="#">Templatesquare</a></div> <div class="tag">Tags: <a href="#">Wordpress</a></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="postimg">
                                        <img src="{% static 'images/content/post3.jpg' %}" alt="" />
                                    </div>
       
                                    <div class="entry-content">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet erat eu nisl pharetra rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi porta porttitor tempus. Vivamus mattis augue vitae ante ullamcorper bibendum.</p>
										<a href="single.html" class="more">Read more  &rarr;</a>
                                    </div>
                                   
                                    <div class="clear"></div>
                                </article>
                                
								<article class="post">
                                    <div class="date-wrapper"> 
										<div class="date-value">11</div>
                                        <div class="month-value">March</div>
                                    </div>
                                	<div class="header-wrapper">
                                        <h2 class="posttitle"><a href="single.html">Pellentesque sollicitudin ligula tempor.</a></h2>
                                        <div class="entry-utility">
                                            <div class="user">Posted by <a href="#">Templatesquare</a></div> <div class="tag">Tags: <a href="#">Wordpress</a></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="postimg">
                                        <img src="{% static 'images/content/post4.jpg' %}" alt="" />
                                    </div>
       
                                    <div class="entry-content">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet erat eu nisl pharetra rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi porta porttitor tempus. Vivamus mattis augue vitae ante ullamcorper bibendum.</p>
										<a href="single.html" class="more">Read more  &rarr;</a>
                                    </div>
                                   
                                    <div class="clear"></div>
                                </article>
                                
								<article class="post">
                                    <div class="date-wrapper"> 
										<div class="date-value">11</div>
                                        <div class="month-value">March</div>
                                    </div>
                                	<div class="header-wrapper">
                                        <h2 class="posttitle"><a href="single.html">Pellentesque sollicitudin ligula tempor.</a></h2>
                                        <div class="entry-utility">
                                            <div class="user">Posted by <a href="#">Templatesquare</a></div> <div class="tag">Tags: <a href="#">Wordpress</a></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="postimg">
                                        <img src="{% static 'images/content/post5.jpg' %}" alt="" />
                                    </div>
       
                                    <div class="entry-content">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet erat eu nisl pharetra rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi porta porttitor tempus. Vivamus mattis augue vitae ante ullamcorper bibendum.</p>
										<a href="single.html" class="more">Read more  &rarr;</a>
                                    </div>
                                   
                                    <div class="clear"></div>
                                </article>

								<div class="wp-pagenavi">
                                	<span class="pages">Page 1 of 3</span><a class="page" href="#">1</a><span class="current"><span>2</span></span><a class="page" href="#">3</a>
                            	</div>
                            </section>
                         
                        </div>
                    </section>
                    
                    <aside id="sidebar" class="four columns">
                    	<div class="padsidebar">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Search</h2>
                                <form action="#" id="searchform" method="get">
                                    <div class="bgsearch">
                                    <input type="text" value="" id="s" name="s"> 
                                    <input type="submit" value="" class="searchbutton">
                                    </div>
                                </form>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Categories</h2>
                                <ul>
                                    <li><a href="#">Company News</a></li>
                                    <li><a href="#">Website Design &amp; Development</a></li>
                                    <li><a href="#">Learning jQuery</a></li>
                                    <li><a href="#">Photography Design</a></li>
                                    <li><a href="#">Wordpress</a></li>
                                    <li><a href="#">Typography</a></li>
                                    <li><a href="#">Columns</a></li>
                                    <li><a href="#">Buttons</a></li>
                                    <li><a href="#">Video Player</a></li>
                                </ul>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Latest Post</h2>
                                <ul class="rp-widget">
                                    <li>
                                        <div class="postimg"><img src="{% static 'images/content/lp1.gif' %}" alt="" /></div>
                                        <h3><a href="#">Fusce imperdiet erat eu nisl pharetra.</a></h3>
                                        <span class="smalldate">March 10, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                    <li>
                                        <div class="postimg"><img src="{% static 'images/content/lp2.gif' %}" alt="" /></div>
                                        <h3><a href="#">Nam vel nunc at augue vehicula feugiat.</a></h3>
                                        <span class="smalldate">March 10, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                    <li>
                                        <div class="postimg"><img src="{% static 'images/content/lp3.gif' %}" alt="" /></div>
                                        <h3><a href="#">Integer pretium ipsum sit amet dui feugiat.</a></h3>
                                        <span class="smalldate">March 10, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Text Widget</h2>
                                <div class="textwidget">Nunc in diam ut tortor vestibulum eleifend sit amet at diam. Phasellus mollis, ante et suscipit egestas, elit nunc facilisis elit, vitae malesuada dui mauris aliquam mi.</div>
                            </li>
                        </ul>
                        </div>
                    </aside>
                 
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER -->
        <footer id="footer">
        	
            <!-- FOOTER SIDEBAR -->
            <div id="outerfootersidebar">
                <div class="container">
                    <div id="footersidebar" class="row"> 

                        <div id="footcol1"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Latest Post</h2>
                                    <ul class="rp-widget">
                                        <li>
                                            <img  alt="" src="{% static 'images/content/rp.gif' %}">
                                            <h3><a href="#">Cool Features Item</a></h3>
                                            <span class="smalldate">April 27, 2013</span>
                                            <p>Mauris sit amet purus est, nec mollis ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
                                            <a href="#" class="more">Read More</a>
                                            <span class="clear"></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol2"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Our Gallery</h2>
									<ul class="flickr">
                                    	<li><a href="#"><img src="{% static 'images/content/g1.gif' %}" alt="" /></a></li>
                                        <li><a href="#"><img src="{% static 'images/content/g2.gif' %}" alt="" /></a></li>
                                        <li><a href="#"><img src="{% static 'images/content/g3.gif' %}" alt="" /></a></li>
                                        <li><a href="#"><img src="{% static 'images/content/g4.gif' %}" alt="" /></a></li>
                                        <li><a href="#"><img src="{% static 'images/content/g5.gif' %}" alt="" /></a></li>
                                        <li><a href="#"><img src="{% static 'images/content/g6.gif' %}" alt="" /></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol3"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Our Categories</h2>
                                    <ul class="list">
                                        <li><a href="#">Styling Option</a></li>
                                        <li><a href="#">General Option</a></li>
                                        <li><a href="#">Overview</a></li>
                                        <li><a href="#">Header Settings</a></li>
                                        <li><a href="#">Showcase</a></li>
                                        <li><a href="#">Website Design</a></li>
                                        <li><a href="#">Layout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol4"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">Find Us</h2>
                                    <ul class="sn">
                                        <li><a href="http://twitter.com" title="Twitter"><span class="icon-img twitter"></span></a></li>
                                        <li><a href="http://facebook.com" title="Facebook"><span class="icon-img facebook"></span></a></li>
                                        <li><a href="https://plus.google.com" title="Google+"><span class="icon-img google"></span></a></li>
                                        <li><a href="http://rss.com" title="RSS"><span class="icon-img rss"></span></a></li>
                                        <li><a href="http://pinterest.com" title="Pinterest"><span class="icon-img pinterest"></span></a></li>
                                    </ul> 
                              </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                 
                    </div>
                </div>
            </div>
            <!-- END FOOTER SIDEBAR -->
            
            <!-- COPYRIGHT -->
            <div id="outercopyright">
                <div class="container">
                    <div id="copyright">
                    	Copyright &copy;2013. All Rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                    </div>
                </div>
            </div>
            <!-- END COPYRIGHT -->
        </footer>
        <!-- END FOOTER -->
        <div class="clear"></div><!-- clear float --> 
	</div><!-- end outercontainer -->
</div><!-- end bodychild -->


<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="{% static 'js/hoverIntent.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/superfish.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/supersubs.js' %}"></script>


<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="{% static 'js/tinynav.min.js' %}"></script>

<!-- Custom Script -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>


</body>
</html>
