{% extends "common/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}        
        <!-- BEFORE CONTENT -->
        <div id="outerbeforecontent">
        	<div class="container">
            <div class="row">
                <div id="beforecontent" class="twelve columns">
                    <h1 class="pagetitle">Our Blog</h1>
                    <span class="pagedesc">This can be your tagline or something you want.</span>
                    
                    <a href="#" class="button">Buy Theme</a>
                    
                </div>
            </div>
            </div>
        </div>
        <!-- END BEFORE CONTENT -->

        <!-- MAIN CONTENT -->
        
        <div id="outermain">
        	<div class="container">
                <div class="row">
           
           			
                    <section id="maincontent" class="eight columns positionleft">
                    	<div class="padcontent">
{% block maincontent %}
                            <section class="content">
                            
                            	{% if latest_entry_list %}
                            		{% for entry in latest_entry_list %}
                            		
                            	<article class="post">
                                    <div class="date-wrapper"> 
										<div class="date-value">{{ entry.publication_date.day }}</div>
                                        <div class="month-value">{{ entry.publication_date.month }}</div>
                                    </div>
                                	<div class="header-wrapper">
                                        <h2 class="posttitle"><a href="single.html">{{entry.title}}</a></h2>
                                        <div class="entry-utility">
                                            <div class="user">Posted by <a href="#">Templatesquare</a></div> <div class="tag">Tags: <a href="#">Wordpress</a></div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="postimg">
                                        <img src="{{entry.head_image_url}}" alt="" />
                                    </div>
       
                                    <div class="entry-content">
                                    	{{ entry.blog_abstract }}
										<a href="single.html" class="more">更多&rarr;</a>
                                    </div>
                                   
                                    <div class="clear"></div>
                                </article>
                            		{% endfor %}
                            	{% endif %}
                            	
								<div class="wp-pagenavi">
                                	<span class="pages">Page 1 of 3</span><a class="page" href="#">1</a><span class="current"><span>2</span></span><a class="page" href="#">3</a>
                            	</div>
                            </section>
                            {% endblock %}                 
                        </div>
                    </section>

                    
                    {% block sidebar %}
                    <aside id="sidebar" class="four columns">
                    	<div class="padsidebar">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Search</h2>
                                <form action="#" id="searchform" method="get">
                                    <div class="bgsearch">
                                    <input type="text" value="" id="s" name="s"> 
                                    <input type="submit" value="" class="searchbutton">
                                    </div>
                                </form>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Categories</h2>
                                <ul>
                                    <li><a href="#">Company News</a></li>
                                    <li><a href="#">Website Design &amp; Development</a></li>
                                    <li><a href="#">Learning jQuery</a></li>
                                    <li><a href="#">Photography Design</a></li>
                                    <li><a href="#">Wordpress</a></li>
                                    <li><a href="#">Typography</a></li>
                                    <li><a href="#">Columns</a></li>
                                    <li><a href="#">Buttons</a></li>
                                    <li><a href="#">Video Player</a></li>
                                </ul>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Latest Post</h2>
                                <ul class="rp-widget">
                                    <li>
                                        <div class="postimg"><img src="{% static 'images/content/lp1.gif' %}" alt="" /></div>
                                        <h3><a href="#">Fusce imperdiet erat eu nisl pharetra.</a></h3>
                                        <span class="smalldate">March 10, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                    <li>
                                        <div class="postimg"><img src="{% static 'images/content/lp2.gif' %}" alt="" /></div>
                                        <h3><a href="#">Nam vel nunc at augue vehicula feugiat.</a></h3>
                                        <span class="smalldate">March 10, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                    <li>
                                        <div class="postimg"><img src="{% static 'images/content/lp3.gif' %}" alt="" /></div>
                                        <h3><a href="#">Integer pretium ipsum sit amet dui feugiat.</a></h3>
                                        <span class="smalldate">March 10, 2013</span>
                                        <span class="clear"></span>
                                    </li>
                                </ul>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Text Widget</h2>
                                <div class="textwidget">Nunc in diam ut tortor vestibulum eleifend sit amet at diam. Phasellus mollis, ante et suscipit egestas, elit nunc facilisis elit, vitae malesuada dui mauris aliquam mi.</div>
                            </li>
                        </ul>
                        </div>
                    </aside>
               		{% endblock %}  
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
 
 {% endblock %}