{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
{% block head %}
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>amazing</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.useso.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/inner.css' %}" />    
    <link rel="stylesheet" href="{% static 'styles/color.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

	<!-- this script use the rotate ball tag cloud, It adjust the tag between 20 and 30 -->
    <!-- <script type="text/javascript" src="{% static 'js/tagcloud.js' %}"></script> -->
    
</head>
{% endblock %}


<body>

<div id="bodychild">
	<div id="outercontainer">
	
    <!-- HEADER -->
        <div id="outerheader">
            <header id="top">

                    <div id="logo">
                        <a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""/><h3 class="logofont">William's blog</h3><h4 class="logofont">made by pengjunjie (william valentine)</h4></a>
                    </div>

                    <section id="navigation">
                        <nav id="nav-wrap">
                            <ul id="topnav" class="sf-menu">
                                <li><a href="{% url 'blog:blog' %}">{% trans 'home' %} </a></li>
                                <li><a href="{% url 'blog:blog' %}">{% trans 'blog' %}</a></li>
                                <li><a href={% url 'blog:bookmark' %}>{% trans 'suggest url' %}</a></li>
                                <li><a href="#">{% trans 'appcenter' %}</a>
                                    <ul>
                                        <li><a href="{% url 'blog:appcategory'  3 %}">{% trans 'saasappcenter' %}</a></li>
                                        <li><a href="{% url 'blog:appcategory' 4 %}">{% trans 'h5appcenter' %}</a></li>
                                        <li><a href="#">{% trans 'toolcenter' %}</a>
                                            <ul>
                                                <li><a href="{% url 'blog:appcategory' 1 %}">{% trans 'Windows Tools' %}</a></li>
                                                <li><a href="{% url 'blog:appcategory' 2 %}">{% trans 'Mac Tools' %}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'blog:contact' %}">{% trans 'contactme' %}</a></li>
                                
                            </ul><!-- topnav -->
                           
                            <div class="clear"></div>
                        </nav><!-- nav -->	
                    </section>
            
                <div class="clear"></div>
            </header>
        </div>
        <!-- END HEADER -->
        
    {% block content %}{% endblock %}     
           
        <!-- FOOTER -->
        <footer id="footer">
        	
            <!-- FOOTER SIDEBAR -->
            <div id="outerfootersidebar">
                <div class="container">
                    <div id="footersidebar" class="row"> 

                        <div id="footcol1"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">{% trans 'About William blog' %}</h2>
                                    <ul class="rp-widget">
                                        <li>
                                            <img  alt="" src="{% static 'images/content/logo_50_50.png' %}">
                                            <h3><a href="#">william blog</a></h3>
                                            <span class="smalldate">November 18, 2015</span>
                                            <p>william blog power by <a href="https://github.com/yourwilliam/melonblog">melon blog</a> for my melon baby.</p>
                                            <a href="https://github.com/yourwilliam/melonblog" class="more">Read Melon Blog</a>
                                            <span class="clear"></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol2"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">{% trans 'Favourite Site' %}</h2>
									<ul class="flickr">
                                    	<li><a href="http://www.hansap.com" target="_Blank"><img src="{% static 'images/content/g1.png' %}" alt="" /></a></li>
                                        <li><a href="https://www.topcoder.com/" target="_Blank"><img src="{% static 'images/content/g2.png' %}" alt="" /></a></li>
                                        <li><a href="http://toutiao.io/" target="_Blank"><img src="{% static 'images/content/g3.png' %}" alt="" /></a></li>
                                        <li><a href="http://www.techtarget.com.cn/" target="_Blank"><img src="{% static 'images/content/g4.png' %}" alt="" /></a></li>
                                        <li><a href="http://www.oschina.net/" target="_Blank"><img src="{% static 'images/content/g5.png' %}" alt="" /></a></li>
                                        <li><a href="https://getpocket.com" target="_Blank"><img src="{% static 'images/content/g6.png' %}" alt="" /></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol3"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">{% trans 'Our Categories' %}</h2>
                                    <ul class="list">
                                        <li><a href="{% url 'blog:blog' %}">{% trans 'home' %}</a></li>
                                        <li><a href="{% url 'blog:blog' %}">{% trans 'blog' %}</a></li>
                                        <li><a href="{% url 'blog:bookmark' %}">{% trans 'suggest url' %}</a></li>
                                        <li><a href="#">{% trans 'appcenter' %}</a></li>
                                        <li><a href="{% url 'blog:contact' %}">{% trans 'contactme' %}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="footcol4"  class="three columns">
                            <ul>
                                <li class="widget-container">
                                    <h2 class="widget-title">{% trans 'contact me' %}</h2>
                                    <ul class="sn">
                                        <li><a href="https://twitter.com/yourwilliam" title="Twitter"><span class="icon-img twitter"></span></a></li>
                                        <li><a href="https://www.facebook.com/yourwilliam" title="Facebook"><span class="icon-img facebook"></span></a></li>
                                        <li><a href="https://plus.google.com/u/0/103856410165086313285" title="Google+"><span class="icon-img google"></span></a></li>
                                        <li><a href="{% url 'blog:latestentriesfeed' %}" title="RSS"><span class="icon-img rss"></span></a></li>
                                        <li><a href="http://pinterest.com" title="Pinterest"><span class="icon-img pinterest"></span></a></li>
                                    </ul> 
                              </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                 
                    </div>
                </div>
            </div>
            <!-- END FOOTER SIDEBAR -->
            
            <!-- COPYRIGHT -->
            <div id="outercopyright">
                <div class="container">
                    <div id="copyright">
                    	{% trans 'Copyright' %}
                    </div>
                </div>
            </div>
            <!-- END COPYRIGHT -->
        </footer>
        <!-- END FOOTER -->
        <div class="clear"></div><!-- clear float --> 
	</div><!-- end outercontainer -->
</div><!-- end bodychild -->

{% block javascript %}
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="{% static 'js/hoverIntent.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/superfish.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/supersubs.js' %}"></script>


<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="{% static 'js/tinynav.min.js' %}"></script>

<!-- Custom Script -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

{% endblock %}

</body>
</html>
