{% extends "common/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}        
        <!-- BEFORE CONTENT -->
        <div id="outerbeforecontent">
        	<div class="container">
            <div class="row">
                <div id="beforecontent" class="twelve columns">
                    <h1 class="pagetitle">{% trans 'William Blog' %} </h1>
                    <span class="pagedesc">{% trans 'William Blog Abstract' %}</span>
                    
                    <a href="#" class="button">{% trans 'william blog' %}</a>
                    
                </div>
            </div>
            </div>
        </div>
        <!-- END BEFORE CONTENT -->

        <!-- MAIN CONTENT -->
        
        <div id="outermain">
        	<div class="container">
                <div class="row">
           
           			
                    <section id="maincontent" class="eight columns positionleft">
                    	<div class="padcontent">
						{% block maincontent %}{% endblock %}                 
                        </div>
                    </section>

                    
                    {% block sidebar %}
                    <aside id="sidebar" class="four columns">
                    	<div class="padsidebar">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">{% trans 'Search' %}</h2>
                                <form action="#" id="searchform" method="get">
                                    <div class="bgsearch">
                                    <input type="text" value="" id="s" name="s"> 
                                    <input type="submit" value="" class="searchbutton">
                                    </div>
                                </form>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">{% trans 'Categories' %}</h2>
                                <ul>
                                {% for category in catagory_list %}
                                	<li><a href="{% url 'blog:category' category.id %}">{{ category.title }}({{category.entrynum}})</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">{% trans 'Latest Post' %}</h2>
                                <ul class="rp-widget">
                                	{% for post in latest_post %}
                                		<li>
		                                    <div class="postimg"><img src="{% static 'images/content/lp1.gif' %}" alt="" /></div>
		                                    <h3><a href="{% url 'blog:single' post.id %}">{{ post.title }}</a></h3>
		                                    <span class="smalldate">{{ post.publication_date }}</span>
		                                    <span class="clear"></span>
                                    </li>
                                	{% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <div>
                        <h2 class="widget-title">{% trans 'Tag list' %}</h2>
                        <div class="tagcloud">
                        {% for tag in tag_list %}
                        	<a href="{% url 'blog:tags' tag.id %}" class="tagitem btn btn-success btn-xs">{{ tag.name }}</a>
                        {% endfor %}
                        </div>
						</div>
	                  </div>
                    </aside>
               		{% endblock %}  
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
 
 {% endblock %}